table{
    width: 50%;
    height: 500px;
}
td{
    width: 50%;
    height: 50%;
    border: 1px solid;
    border-color: black;
}
.Joueur1{
    background-color: red;
}
.Joueur2{
    background-color: blue;
}