.tableau {
    width: 2cm;
    height: 2cm;
    margin: 0px;
    padding: 0px;
    background-color: white;
    border: 2px blue inset;
    border-radius: 2cm;
    background-color: white;
    cursor: pointer;
}

.player1 {
    width: 2cm;
    height: 2cm;
    margin: 0px;
    padding: 0px;
    background-color: red;
    border: 0px;
    border-radius: 2cm;
}

.player2 {
    width: 2cm;
    height: 2cm;
    margin: 0px;
    padding: 0px;
    background-color: yellow;
    border: 0px;
    border-radius: 2cm;

}